<settings>
    <setting
        propertyKey="@Properties.useMgdl"
        title="@Strings.settingUseMgdl">
        <settingConfig type="boolean" />
    </setting>

    <setting
        propertyKey="@Properties.dangerLow"
        title="@Strings.settingDangerLow">
        <settingConfig
            type="numeric"
            min="1"
            max="100"
            errorMessage="@Strings.settingRangeError" />
    </setting>

    <setting
        propertyKey="@Properties.Low"
        title="@Strings.settingLow">
        <settingConfig
            type="numeric"
            min="1"
            max="100"
            errorMessage="@Strings.settingRangeError" />
    </setting>

    <setting
        propertyKey="@Properties.High"
        title="@Strings.settingHigh">
        <settingConfig
            type="numeric"
            min="1"
            max="100"
            errorMessage="@Strings.settingRangeError" />
    </setting>

    <setting
        propertyKey="@Properties.dangerHigh"
        title="@Strings.settingDangerHigh">
        <settingConfig
            type="numeric"
            min="1"
            max="100"
            errorMessage="@Strings.settingRangeError" />
    </setting>

    <setting
        propertyKey="@Properties.defaultContextIndex"
        title="@Strings.settingDefaultContext">
        <settingConfig type="list">
            <listEntry value="0">@Strings.contextNone</listEntry>
            <listEntry value="1">@Strings.contextFasting</listEntry>
            <listEntry value="2">@Strings.contextBeforeMeal</listEntry>
            <listEntry value="3">@Strings.contextAfterMeal</listEntry>
            <listEntry value="4">@Strings.contextBedtime</listEntry>
            <listEntry value="5">@Strings.contextBeforeExercise</listEntry>
            <listEntry value="6">@Strings.contextAfterExercise</listEntry>
        </settingConfig>
    </setting>
    <setting
            propertyKey="@Properties.customContexts"
            title="@Strings.settingCustomContexts"
            maxLength="10">

            <setting
                type="string"
                title="@Strings.settingContextName">

                <settingConfig
                    id="name"
                    type="alphaNumeric"
                    maxLength="30"/>
            </setting>
        </setting>

    <setting
        propertyKey="@Properties.confirmBeforeSave"
        title="@Strings.settingConfirmSave">
        <settingConfig type="boolean" />
    </setting>

    <setting 
        propertyKey="@Properties.username" title="Enter Username">
        <settingConfig type="alphaNumeric" required="false" maxLength="256" />
    </setting>

    <setting
        propertyKey="@Properties.password" 
        title="Enter Password">
        <settingConfig type="password" />
    </setting>
</settings>
